.App{
  height: 100vh;
  margin-top: 0px;
  background:#ddd;
  text-align: center;
}

.toggleButton{
  background-color: red;
  position: relative;
  top: -50px;
  left: 50px;
}

.score{
  position: absolute;
  top: 0;
  color: black;
}

.boardScore{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
}

.togglable{
  width: 40%;
  position: relative;
  top: -50px;
}

canvas{
  border: solid 3px white;
  margin-top: 20px;
  background: linear-gradient(
      8deg,
      rgba(0,102,204,1) 0%,
      rgba(125,60,152,1)100%
  );
}

.alingButtons{
  display: flex;
  justify-content: center;
}

button{
  height: 50px;
  width: 60px;
}

.ad{
  display: flex;
  justify-content: space-around;
}
